* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: rgb(231, 231, 231);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url("../images/HomePage_Imgs/Background.png");
  background-size: cover;
  margin-bottom: 20vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.logo {
  height: 60px;
}
.heading {
  color: whitesmoke;
}

.title {
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: lightblue;
}

.container {
  background-color: white;
  height: 580px;
  width: 500px;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.btn {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgb(55, 37, 161);
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login,
.signup {
  height: 60px;
  width: 150px;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.slider {
  height: 60px;
  width: 150px;

  border-radius: 3px;
  background-image: linear-gradient(
    to right,
    rgb(76, 176, 233),
    rgb(134, 116, 255)
  );
  position: absolute;
  top: 20px;
  left: 100px;
  transition: all 0.5s ease-in-out;
}

.moveslider {
  left: 250px;
}

.form-section {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form-section-move {
  left: -500px;
}

.login-box,
.signup-box {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.login-box {
  gap: 50px;
}

.signup-box {
  gap: 30px;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.google-btn,
.github-btn {
  height: 50px;
  width: 90px;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 50px;
}

.google-btn i,
.github-btn i {
  font-size: 24px;
}

.google-btn {
  background-color: rgb(255, 0, 0, 0.8);
  color: white;
}

.github-btn {
  background-color: lightgray;
  color: black;
}

.google-btn:hover,
.google-btn:focus {
  background-color: darkred;
}

.github-btn:hover,
.github-btn:focus {
  background-color: darkgray;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: rgb(64, 63, 63, 0.65);
  position: relative;
}

.separator-text {
  position: absolute;
  top: -10px;
  left: 210px;
  background-color: white;
  text-align: center;
  color: rgb(59, 54, 54);
}
.ele {
  height: 60px;
  width: 400px;
  outline: none;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
}

.clkbtn {
  height: 60px;
  width: 150px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    rgb(76, 176, 233),
    rgb(134, 116, 255)
  );
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.clkbtn:hover,
.clkbtn:focus {
  background-image: linear-gradient(
    to right,
    rgb(54, 170, 238),
    rgb(93, 68, 254)
  );
}

@media screen and (max-width: 750px) {
  .container {
    height: 600px;
    width: 300px;
  }
  .title {
    font-size: 15px;
  }
  .btn {
    height: 50px;
    width: 200px;
    margin: 20px auto;
  }
  .login,
  .signup {
    font-size: 19px;
  }
  .slider {
    height: 50px;
    width: 100px;
    left: 50px;
  }

  .moveslider {
    left: 150px;
  }
  .form-section {
    height: 500px;
    width: 600px;
  }

  .form-section-move {
    left: -300px;
  }
  .login-box,
  .signup-box {
    height: 100%;
    width: 300px;
  }
  .separator-text {
    top: -9px;
    left: 100px;
  }
  .ele {
    height: 50px;
    width: 250px;
    font-size: 15px;
  }
  .clkbtn {
    height: 50px;
    width: 130px;
    font-size: 19px;
  }
}
