/* Reset Browser Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00ffff;
  --light-primary: #98f3ef;
  --icon-color: #1e8bf1;
  --icon-dark: #067be7;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

hr {
  border-width: 0;
  margin: 100px 0;
  background-color: #00ffff;
  height: 2px;
}

/* Base Styles */

body {
  background-image: url("../images/HomePage_Imgs/Background.png");
  background-size: cover;
  font-family: "Inter", sans-serif;
  /* min-height: 500vh; */
}

/* Normal Styles */
/* .header {
  position: fixed;
  width: 100%;
}

.top-bar {
} */

.top-bar__content {
  height: 30px;
  max-width: 100%;
  padding: 0 30px;
  margin: 0 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #00ffff;
  font-size: 14px;
  margin-top: 30px;
}

.btn {
  color: #fff;
  background-color: #0071e3;
  padding: 8px 20px;
  border-radius: 1000px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(28, 128, 228);
}

/* .bottom-bar {
} */

.bottom-bar__content {
  min-height: 60px;
  max-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo__text {
  font-size: 23px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-left: 20px;
}

.logo__img {
  height: 130px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 60px;
}

.nav__item {
  color: #fff;
}

.nav__link {
  color: rgb(255, 255, 225);
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: #00ffff;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Body Content */
.website-content {
  padding: 0 100px;
  margin-top: 50px;
  padding-bottom: 100px;
  color: #fff;
}

.website-content__inner {
  padding: 0 100px;
  color: #fff;
}

/* Home */

/* .home {
} */

.welcome-text {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 500;
}

.info-text__img {
  display: flex;
  column-gap: 100px;
  justify-content: space-between;
}

.info-text p {
  margin-top: 100px;
  font-size: 20px;
  color: #00ffff;
  font-weight: 500;
  width: 70%;
  text-align: justify;
  line-height: 30px;
}

.idea__img {
  margin-top: 50px;
}

.learn-more-btn {
  width: fit-content;
  margin-top: 50px;
  background: linear-gradient(
    96.15deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.learn-more-icon {
  margin-left: 10px;
}

/* features */

.features-main {
  margin-top: 100px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
  max-width: 1500px;
  justify-content: space-evenly;
}

.feature {
  width: 500px;
  height: 250px;
  background: linear-gradient(
    96deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 62%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  transition: all 0.2s;
}

.feature:hover {
  transform: scale(1.02);
}

.content p {
  font-size: 24px;
  display: inline-block;
  color: white;
  font-weight: 500;
  top: 10px;
  right: -30px;
}

.view {
  width: 120px;
  height: 30px;
  border-radius: 50px;
  border: 1.5px rgba(250, 250, 250, 0.98) solid;
  color: white;
  background-color: rgba(255, 255, 255, 0.061);
  transition: all 0.2s;
  cursor: pointer;
}

.view:hover,
.learn-more-btn:hover {
  transform: scale(1.08);
}

.feature-logo {
  height: 60%;
  width: 40%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.feature startup .new-logo {
  position: absolute;
  left: 0;
  top: 10px;
}

/* About Us */

.about-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  gap: 50px;
}

.about-grid1 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
}

.about-grid1 h1 {
  justify-self: center;
  font-size: 50px;
  font-weight: 600;
}

.about-grid1 p {
  font-size: 20px;
  text-align: justify;
  width: 100%;
  line-height: 30px;
}

.about-grid2 img {
  margin-top: 50px;
}

/* Transparent Bar */

.trans-bar {
  margin-top: 150px;
  background-image: url("../images/HomePage_Imgs/AboutBackground.svg");
  width: 100%;
  height: 443px;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;
}

.bar-list {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.trans-bar .bar-header {
  font-size: 35px;
  color: #00fff0;
  text-align: center;
  padding-top: 20px;
  margin-top: 15px;
  font-weight: 500;
}

.trans-bar .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 201px;
  border: 3px solid #0038ff;
  /* border: 3px solid #00fff0; */
  border-radius: 100px;
}

.trans-bar span {
  color: white;
  font-size: 30px;
}

/* Contact Us */
.contact-container {
  padding: 100px 80px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.contact-card {
  border-radius: 0.2rem;
  border: 1px solid #eaf0fc;
  background: #fff;
  box-shadow: 1px 3px 10px rgba(173, 181, 189, 0.4);
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact-card .infos {
  padding: 0 40px;
  min-width: 400px;
  border-right: 1px solid #eaf0fc;
}

.contact-card .infos .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eaf0fc;
  margin-top: 20px;
  padding-bottom: 20px;
}

.contact-card .infos .item:last-child {
  border-bottom: 0;
}

.contact-card .infos .item h5 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

.contact-card .infos .item p {
  margin-bottom: 3px;
}

.contact-card .infos .item i {
  display: block;
  width: 30px;
  font-size: 30px;
  color: #ff214f;
  margin: 4px 20px 0 0;
}

.contact-card .form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 40px;
  height: 100%;
}

section .section-subtitle {
  font-size: calc(17px + (23 - 17) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 300;
  margin-bottom: 5px;
  opacity: 100%;
  line-height: 1.2;
}

section .section-title {
  font-size: calc(28px + (35 - 28) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 500;
  line-height: 1.2;
}

.mb-4 {
  margin-bottom: 30px !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
  font-family: "Inter";
}

.form-control-lg {
  height: calc(1.5em + 1.4rem + 2px);
  padding: 0.7rem 0.95rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.15rem;
}

textarea {
  overflow: auto;
  resize: vertical;
}

textarea.form-control {
  height: auto;
}

.btn-square {
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: 0.7rem 0.95rem;
  line-height: 1.5;
  border-radius: 0.15rem;
}

.btn-primary {
  background-color: var(--icon-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--icon-dark);
}

/* Footer */
.footer_container {
  background-color: rgb(5, 1, 75);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.w_bac {
  width: 40px;
  height: 45px;
  background: #fffcfc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.soc_logo {
  width: 30px;
  height: 33px;
}

.rep {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.menu {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 525;
}

.contact-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 525;
}

.logo img {
  width: 125px;
  height: 125px;
}

/* Media Queries */
@media (max-width: 750px) {
  .nav {
    position: fixed;
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px 0 25px;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__link {
    font-size: 14px;
  }

  .hamburger {
    display: block;
  }
  .logo__img {
    height: 70px;
  }

  .logo__text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-left: 7px;
  }

  .bottom-bar__content {
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-bar__content {
    height: 30px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #00ffff;
    font-size: 10px;
    margin-top: 20px;
  }

  .btn {
    color: #fff;
    background-color: #0071e3;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
  }

  .welcome-text {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 500;
  }

  .about-main {
    display: flex;
    flex-direction: column;
  }

  .about-grid1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .about-grid1 h1 {
    justify-self: center;
    font-size: 30px;
  }

  .about-grid2 img {
    height: 300px;
  }

  .about-grid1 p {
    font-size: 15px;
  }

  .website-content {
    margin-top: 30px;
    padding: 0 50px;
    color: #fff;
  }

  .info-text__img {
    column-gap: 15px;
  }

  .info-text p {
    margin-top: 50px;
    font-size: 15px;
  }

  .transparent-Bar {
    display: none;
  }
}

@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
  .logo__img {
    height: 50px;
  }
}
